*{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: #F1F1F1;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    /* identical to box height */

    text-transform: uppercase;
}

header{
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 0px;

    display: flex;

    background: #474747;

    align-items: center;
    justify-content: center;
}

footer{
    position: absolute;
    width: 1440px;
    height: 95px;
    left: 0px;
    bottom: 0px;    
    display: flex;    
    background: #474747;    
    align-items: center;
    justify-content: center;
}

#home{
    position: absolute;
    width: 1440px;
    height: 668px;
    left: 0px;
    top: 98px;
    
    background: #F1F1F1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-justify: auto;
}

#button1{
    position: absolute;
    width: 162px;
    height: 55px;
    left: 639px;
    top: 482px;

    background: #808080;

    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre{
    position: absolute;
    width: 1440px;
    height: 840px;
    left: 0px;
    top: 766px;

    display: flex;

    background: #F1F1F1;
    justify-content: space-around;
    align-items: center;
}

#sobre-wrapper{
    height: 582px;
    width: 1194px;
    display: flex;

}

#sobre img{
    display: flex;
    width: 582px;
    height: 582px;
    margin: 15px;
}

#sobre-texto{
    flex-direction: column;
    display: flex;
    width: 582px;
    height: 582px;
    margin: 15px;
}